<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Edit About Your Stay</h3>
    <form method="post" action="/listings/<%=listing.id %>?_method=PUT">
        <input name="title" placeholder="enter title" value="<%= listing.title %>">
        <br/> <br/>
        <textarea name="description" placeholder="enter description"  rows="5" cols="20"><%= listing.description %></textarea>
        <br/> <br/>
        <input name="price" placeholder="enter price" type="number" value="<%= listing.price %>">
        <br/> <br/>
        <input name="location" placeholder="enter location" value="<%= listing.location %>">
        <br/> <br/>
        <input name="country" placeholder="enter country" value="<%= listing.country %> ">
        <br/> <br/>
        <input name="image" placeholder="enter image URL/Link" value=<%= listing.image.filename %>>
        <br/> <br/>
        <button type="submit">Add Stay</button>
    </form>
</body>
</html>