<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head> -->

<% layout("/layouts/boilerplate") %>

<div class="row ">
    <div class="col-8 offset-2">
    <br/>
    <h2>Explore This Stay: <b><%= listing.title %></b></h2>
    <br/>
    </div>
    <div class="card col-6 offset-2 show-img-box">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text mt-3">
                <b> Description: </b> <%= listing.description %><br/>
                <b> Price: </b> &#8377 <%= listing.price.toLocaleString("en-IN") %><br/>
                <b> Location: </b> <%= listing.location %><br/>
                <b> Country: </b> <%= listing.country %><br/>
            </p>
        </div>
    </div>
    </div class="btns mb-3">
        <a href="<%= listing._id%>/edit" class="btn offset-2 edit-btn">Edit This Stay</a>
        <form method="post" action="/listings/<%= listing._id%>?_method=Delete" class="d-inline">
            <button class="btn delete-btn offset-2">Delete This Stay</button>
        </form>
    <div>
        <br/>
</div>

<!-- </html> -->

